.wrapper {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 100;
    background: #fff;
}
.navbar {
    @include flex(space-between, center);

    &_link {
        text-decoration: none;
        font-size: 20px;
        transition: .3s;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        padding: 15px 20px;

        &:hover{
            color:$primary-color;
        }
    }
}

.logo{
    text-decoration: none;
    color: #fff;
    font-size: 33px;
    transition: .3s;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    width: 198px;
    height: 87px;
    @include flex(center, center);
    background-color: $primary-color;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.btn_language{
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    background: none;
    text-transform: uppercase;
    padding: 15px 20px;

    &:hover{
        color:$primary-color;
    }
}

