.card {
  text-align: center;
}

.img {
  position: relative;
  width: 196px;
  height: 363px;
  display: inline-block;
  cursor: pointer;

  &:hover ~ .name {
    color: $primary-color;
  }
}

.name {
  color: #fff;
  font-size: 24px;
  transition: .3s;
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin: 25px 0 50px 0;
  cursor: pointer;

  &:hover {
    color: $primary-color;
  }
}

.price {
  color: #fff;
  font-size: 24px;
  transition: .3s;
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
