.buy_link_container{
    top: 188px;
    @include flex(center, center);
    padding: 10px 0;
    z-index: 1000;
    box-shadow: none;
    background-color: #000;
}
.buy_link{
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0px 20px;
}
.buy_link_active{
    composes: buy_link;
    color: $primary-color;

}
.buy_link:hover{
    color: $primary-color;
}
.buy_link:active{
    color: $primary-color;
}
