.contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: calc(100vh - 204px);

  &_right_col {
    text-align: center;
    @include flex(center, center);
  }

  &_heading {
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &_info:hover {
    color: $primary-color;
  }

  &_link {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    transition: .3s;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding: 15px 20px;

    &:hover {
      color: $primary-color;
    }
  }
}
