@import "reset";

html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

.hide {
  display: none;
}
